
<div>
  <label for="dataSets">Data Sets</label>
  <select id="dataSets" [(ngModel)]="tableName">
    <option *ngFor="let dataSet of dataSets" [value]="dataSet">{{ dataSet }}</option>
  </select>
</div>
<div>
    <button (click)="saveCSV()">Save Changes</button>
    <table *ngIf="csvData.length">
      <thead>
        <tr>
          <th *ngFor="let header of csvData[0]">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of csvData.slice(1); let rowIndex = index">
          <td *ngFor="let cell of row; let cellIndex = index">
            <span *ngIf="cellIndex !== labelIndex">{{ cell }}</span>
            <mat-form-field *ngIf="cellIndex === labelIndex">
                <mat-select [value]="cell" (selectionChange)="onCellEdit($event, rowIndex + 1, cellIndex)" [compareWith]="compareFn">
                  <mat-option [value]="0">False</mat-option>
                  <mat-option [value]="1">True</mat-option>
                </mat-select>
              </mat-form-field>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  