.mat-toolbar{
    background-color: white;
}

.title{
    margin:15px;
    font-weight: bold;
}

.mat-form-field{
    margin: 50px;
}

.savebutton{
    margin:10px;
    width: 33%;
    background-color:#ccc;
    color: black;
}

button:hover{
    background-color: #666666;
}

.select{
    width: 10px;
}