.input-container {
    display: flex;
    margin-top: auto;
    margin-bottom: 30px;
}

/* Stilizarea pentru input text */
input[type="text"] {
    flex: 1;
    padding: 8px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 10px;
    color: #666666;
}

/* Stilizarea pentru butonul de procesare text */
#processTextButton {
    padding: 8px;
    font-size: 14px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#processTextButton:hover {
    background-color: #218838;
}
.container {
    width: 100%;
    height: 100%;
    padding: 20px;
    font-family: Arial, sans-serif;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    padding-bottom: 80px; /* Spațiu pentru a face loc inputului fixat jos */
    background-color: #ccc;
}

/* Stilizarea pentru titluri */
h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Container pentru select */
.select-container {
    margin-bottom: 20px;
}

/* Stilizarea pentru select */
select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Container pentru butoane */
.button-container {
    margin-bottom: 20px;
}

/* Stilizarea pentru butoane */
button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    background-color: #666666;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submitArticlesButton{
    margin-top: 10px;
}

#sendRequestButton {
    margin-top: 20px;
}

button:hover {
    background-color: #434444;
}

/* Container pentru articole */
#articlesContainer {
    margin-bottom: 20px;
}

/* Stilizarea pentru mesajul de încărcare */
#loadingMessage {
    font-size: 14px;
    color: #ff0000;
    margin-bottom: 10px;
}

/* Stilizarea pentru lista de articole */
/* Stilizarea containerului pentru articole */
#articlesContainer {
    margin-top: 20px;
}

#loadingMessage {
    font-size: 16px;
    color: #666666;
    margin-bottom: 10px;
}

/* Stilizarea containerului pentru articole */
#articlesContainer {
    margin-top: 20px;
}

#loadingMessage {
    font-size: 16px;
    color: #007BFF;
    margin-bottom: 10px;
}

#articlesList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#articlesList li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

#articlesList li span {
    flex: 1;
    font-size: 16px;
    color: black;
}

#articlesList li input.articleLabelText {
    flex: 2;
    padding: 5px;
    font-size: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
}

#articlesList li select {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Hover effect for list items */
#articlesList li:hover {
    background-color: #f9f9f9;
}

.article-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Aliniaza elementele la inceput si la sfarsitul containerului */
}

.article-container span {
    flex-grow: 1; /* Face textul să ocupe spațiul disponibil */
}

.article-container select {
    width: 80px; /* Lățimea dropdown-ului */
    height: 30px; /* Înălțimea dropdown-ului */
}
